<h2 mat-dialog-title>Contact Us</h2>
<mat-dialog-content class="mat-typography">
    <p>Please contact us to get more details about the course or register your interest for <strong>{{data.courseName}}</strong> at <strong><i>{{data.instituteName}}</i></strong></p>
    <hr>
    <form [formGroup]="contactForm" class="mt-3">
        <div class="row mb-3">
            <mat-form-field appearance="outline" class="col-md-6">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" placeholder="Enter your first name" required>
                <mat-error *ngIf="contactForm.get('firstName')?.invalid">First Name is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-6">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" placeholder="Enter your last name" required>
                <mat-error *ngIf="contactForm.get('lastName')?.invalid">Last Name is required</mat-error>
            </mat-form-field>
        </div>

        <div class="row mb-3">
            <mat-form-field appearance="outline" class="col-md-6">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Enter your email" required type="email">
                <mat-error *ngIf="contactForm.get('email')?.invalid">Enter a valid email</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-6">
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="phone" placeholder="Enter your phone number">
                <mat-error *ngIf="contactForm.get('phone')?.invalid">Enter a valid phone number</mat-error>
            </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="col-md-12">
            <mat-label>Message</mat-label>
            <textarea matInput formControlName="message" placeholder="Enter your message"></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="primary" type="submit" [disabled]="contactForm.invalid" (click)="onSubmit()">Submit</button>
</mat-dialog-actions>